<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Products cart</title>
    <style>
        *{
            box-sizing: border-box;
        }
        .parent{
            display: flex;
            justify-content: center;
        }
        .child{
            width: 50%;
        }
        body{
            background-color: rgb(222, 217, 217);
        }
        .c-item{
            display: flex;
            gap: 10px;
            border-bottom: 1px solid rgb(235, 231, 231);
        }
        .image{
            width: 20%;
        }
        .description{
            width: 60%;
        }
        .items{
            background-color: white;
            padding: 1rem;
            border-radius: 15px;
        }
        img{
            width: 100%;
            border-radius: 10px;
        }
        .price{
            color: blue;
            font-size: 1.2rem;
            font-weight: 700;
        }
        .action{
            width: 20%;
            padding: 1rem;
        }
        .quantity{
            border: 1px solid grey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.4rem 0.8rem;
            border-radius: 20px;
        }
        .remove{
            text-align: right;
            color: red;
        }
        .delete{
            display: flex;
            justify-content: end;
            padding: 0.8rem;
        }
        .q{
            text-decoration: none;
        }
        .total{
            display: flex;
            justify-content: space-between;
        }
        .place{
            display: block;
            width: 100%;
            background-color: blue;
            color: white;
            text-align: center;
            padding: 0.7rem;
            border-radius: 8px;
            text-decoration: none;
        }
        .order{
            background-color: white;
            padding: 1rem;
            border-radius: 15px;
            margin-top: 15px;
        }
        .total .amount{
            color: blue;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child">
            <h2>Shopping Cart</h2>
            <div class="items">
                 <%
                    enrichedCart.forEach((c) =>{
                        if(c.product){
                        %>
                            <div class="c-item">
                                <div class="image">                               
                                    <img src="http://localhost:4000<%= c.product.image %>" alt="<%= c.title %>">
                                </div>
                                <div class="description">
                                    <h2><%= c.title %></h2>
                                    <p><%= c.product.description %></p>
                                    <p class="price">$<%= c.price %></p>
                                </div>
                                <div class="action">
                                    <div class="quantity">
                                        <a href="#" class="q">-</a>
                                        <a href="#" class="q">1</a>
                                        <a href="/increase-qty?cartItemId=<%= c.cartItemId %>" class="q">+</a>
                                    </div>
                                    <div class="delete">
                                        <a href="/remove-item?cartItemId=<%= c.cartItemId %>" class="remove"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        <%
                        }
                    }) 
                %>
            </div>
            <div class="order">
                <div class="total">
                    <h2>Total</h2>
                    <h2 class="amount">$300</h2>
                </div>
                <div>
                    <a href="#" class="place">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>